header {
    background-color: aqua;
}

section {
    background-color: beige;


}

.galeria {

display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
margin: 0 auto;

}

img {
    width: 100%;
    height: auto;
    filter: saturate(0);
    filter: brightness(250%);
    
}

a:hover img {
    filter: saturate(1);
}