
       
       #arriba {
            background-color: aqua;
            height: 20vh;
        }
        
       
    
   

#cuadro1 {
  background-color: rgb(254, 0, 0);
  height: 650px;
  


}

#cuadro2 {
  background-color: rgb(0, 225, 19);
  height: 650px;


  
}

#cuadro3 {
  background-color: rgb(9, 193, 255);
  height: 650px;

 
 
}

#pie{

    background-color: blueviolet;
    height: 15vh;
}