
body {
  margin: 0;
  

  
  background-image: url('img/sssss.jpg');  
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
  
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  
  border-bottom: 1px solid #ccc;

}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo img{
  font-weight: bold;
   width: 100px; 
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}



.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: bold;
}





.seccion-titulo {
  font-size: 100pt;
  font-weight: bold;
  margin: 40px 0 20px;
  cursor: pointer;
  
  width: fit-content;
  color: aliceblue;
}

.galeria {
  margin-bottom: 40px;
}

.imagen {
    
 width: 100%;
  height: 550px;           
  overflow: hidden;        
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}


.imagen img{
 
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Oculta contenido */
.d-none {
  display: none;
}


.footer {
  background-color: #1d1d1d;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #aeaeae;
  margin-top: 60px;
}