caja {
      height: 120px;
      background-color: lightgray;
      text-align: center;
      padding-top: 40px;
      font-weight: bold;
      border: 1px solid #ddd;
    }


#caja1 {
  background-color: rgb(255, 255, 255);
  height: 50px;
}


#caja2 {
  background-color: rgb(0, 254, 42);
  height: 50px;
}


#caja3 {
  background-color: rgb(255, 255, 255);
  height: 50px;
}


#caja4 {
  background-color: rgb(254, 0, 195);
  height: 450px;
}


#caja5 {
  background-color: rgb(129, 25, 25);
  height: 450px;
}


#caja6 {
  background-color: rgb(0, 254, 21);
  height: 450px;
}


#caja7 {
  background-color: rgb(17, 0, 254);
  height: 30px;
}

