h1{

font-family:"Open Sans", sans-serif;
font-size: 40pt;

}

img{
width: 100%;
height: auto;

}

#texto1{
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14pt;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 0px;
  margin-left: 0px;
  width: 400px;
}

#texto2{
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt;
  color: rgb(207, 207, 207);
 
}

#texto3{
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt;
  color: rgb(207, 207, 207);
}

 ul{
  list-style-type:  none;

 }
li{
  margin-bottom: 20px;
}
